<style>
            h1 {
                color: brown;
            }
            .header{
                background-color:black;
                display:flex;
                justify-content:space-between;
            }
            .grid{
                display:flex;
                flex-wrap: wrap;
                border:solid;
                justify-content: space-around;
                background-color: white;
                background-image: url("co.png");
            }
            .footer{
                display:flex;
                justify-content: flex-end;
            }
            p,h2{
                text-align: center;
            }
            .grid img{
                margin-top: 15px;
                margin-left: 30px;
                border: 2px solid black;
                border-radius: 50px;
            }
            .item{
                border: solid;
                border-radius: 10px;
                background-color:whitesmoke;
                margin-top: 20px;
                margin-bottom: 6px;
                width: 310px;
                font-family: fantasy;
            }
            .menu{
                display: flex;
                justify-content: space-between;
                background-color: black;
                font-size: 20px;
                font-family: sans-serif;
                font-weight: 400;
                color: white;
            }
            body{
                background-color: powderblue;
            }
            .grid{
                margin: 10px;
                width:1200px;
                height: 700px;
            }
            .footer{
                margin-top: 20px;
            }
        </style>